:root {
  --color-primary: #6173e1; // 宝蓝   #0077ff
  --color-primary-hover: #a1a9db; // 宝蓝-悬浮
  --color-primary-shallow: #cad1ff; // 宝蓝-浅色
  --color-primary-active: #3b2e7e; // 藏蓝

  --color-success: #96ce54; // 豆青
  --color-success-hover: #b0db7b; // 豆青-悬浮
  --color-success-shallow: #f4ffe6; // 豆青-浅色
  --color-success-active: #789262; // 竹青

  --color-warning: #f0c239; // 缃色
  --color-warning-hover: #ffc773; // 缃色-悬浮-姜黄
  --color-warning-shallow: #fff7e1; // 缃色-浅色
  --color-warning-active: #ffa631; // 杏黄

  --color-danger: #db5a6b; // 海棠红
  --color-danger-hover: #ef7a82; // 海棠红-悬浮-嫣红
  --color-danger-shallow: #ffdfe3; // 海棠红-浅色
  --color-danger-active: #c91f37; // 赫赤

  --color-info: #7397ab; // 苍青
  --color-info-hover: #adc4d1; // 苍青-悬浮
  --color-info-shallow: #e9f1f6; // 苍青-浅色-霜色
  --color-info-active: #395260; // 苍黑

  --color-text-dark: #50616d; // 墨色
  --color-text-dark-active: #3d3b4f; // 玄青
  --color-text-light: #f2fdff; // 雪白
  --color-white: #ffffff; // 精白
  --color-border: #d1d9e0; // 苍白
}
