:root {
  --color-primary: #6173e1; // 宝蓝   #0077ff
  --color-primary-hover: #a1a9db; // 宝蓝-悬浮
  --color-primary-active: #3b2e7e; // 藏蓝
  --color-primary-disabled: #959fd5;
  --color-primary-shallow: #cad1ff; // 宝蓝-浅色
  --color-primary-shallow-disabled: #e0e4ff;
  --color-primary-shallow-text-disabled: #99a2d5;
  --color-primary-shallow-border-disabled: #b1bbfb;

  --color-success: #96ce54; // 豆青
  --color-success-hover: #b0db7b; // 豆青-悬浮
  --color-success-active: #789262; // 竹青
  --color-success-disabled: #aad5a6; // 竹青
  --color-success-shallow: #f4ffe6; // 豆青-浅色
  --color-success-shallow-disabled: #ecf3e4;
  --color-success-shallow-text-disabled: #96c95a;
  --color-success-shallow-border-disabled: #cae7a8;

  --color-warning: #f0c239; // 缃色
  --color-warning-hover: #ffc773; // 缃色-悬浮-姜黄
  --color-warning-active: #ffa631; // 杏黄
  --color-warning-disabled: #f1d9a2; // 杏黄
  --color-warning-shallow: #fff7e1; // 缃色-浅色
  --color-warning-shallow-disabled: #fdf6e3;
  --color-warning-shallow-text-disabled: #e7d296;
  --color-warning-shallow-border-disabled: #e1dcce;

  --color-danger: #db5a6b; // 海棠红
  --color-danger-hover: #ef7a82; // 海棠红-悬浮-嫣红
  --color-danger-active: #c91f37; // 赫赤
  --color-danger-disabled: #c98790; // 赫赤
  --color-danger-shallow: #ffdfe3; // 海棠红-浅色
  --color-danger-shallow-disabled: #f1dcdf; // 海棠红-浅色
  --color-danger-shallow-text-disabled: #cf7782;
  --color-danger-shallow-border-disabled: #efb7bf;

  --color-info: #7397ab; // 苍青
  --color-info-hover: #adc4d1; // 苍青-悬浮
  --color-info-active: #395260; // 苍黑
  --color-info-disabled: #a7c8d7; // 苍黑
  --color-info-shallow: #e9f1f6; // 苍青-浅色-霜色
  --color-info-shallow-disabled: #e9f1f6; // 苍青-浅色-霜色
  --color-info-shallow-text-disabled: #9fc5db;
  --color-info-shallow-border-disabled: #b1cbd9;

  --color-text-dark: #50616d; // 墨色
  --color-text-dark-active: #3d3b4f; // 玄青
  --color-text-light: #f2fdff; // 雪白
  --color-text-disabled: #c2ccd0; // 花白
  --color-white: #ffffff; // 精白
  --color-border: #d1d9e0; // 苍白
}
